@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600italic,600,400);
@font-face { font-family: BebasNeue; src: url(../fonts/BebasNeue.otf); }


* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	min-width: 940px;
	font-family: 'BebasNeue', 'Arial';
}
#header, #nav, #portfolio, #quote {
	color: #fff;
}
/* Header */
#header {
	padding: 126px 0 0 385px;
	height: 500px;
	font-size: 90px;
	background-image: url(../images/header.jpg);
}
#header p {
	line-height: 0.74;
}
#header p:nth-child(4) {
	font-size: 36px;
}
/* Navigation */
#nav {
	padding: 26px 0 0 356px;
	height: 100px;
	background-color: #252222;
}
#nav span {
	float: left;
	font-size: 48px;
}
#nav .menu {
	margin: 15px 0 0 435px;
	font-size: 18px;
}
#nav .menu li {
	float: left;
	margin-right: 16px;
}
#nav .menu li:last-child{
	margin-left: 4px;
	margin-right: 86px;
}
#nav .menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 4px 15px 4px;
}
#nav .menu li:hover {
	border-bottom: 1px solid #65ba99;
}
#nav .menu li a:hover {
	color: #65ba99;
}
/* Social buttons */
.nav_social {
	margin-right: 12px;
	margin-top: -11px;
}
.social  li{
	display: inline-block;
	margin-right: 13px;
	height: 35px;
	width: 35px;
}
.social li a { 
	display: block;
	width: inherit;
	height: inherit;
}
.social li:first-child {
	background-image: url(../images/in.png);
}
.social li:nth-child(2) {
	background-image: url(../images/f.png);
}
.social li:nth-child(3){
	background-image: url(../images/nlo.png);
}
.social li:last-child {
	background-image: url(../images/twitter.png);
}
.nav_social .social:first-child {
}
.nav_social .social li:last-child {
	margin-right: 0;
}
/* Portfolio */
#portfolio {
	padding: 60px 330px 100px;
	background-color: #65ba99;
}
#portfolio h1 {
	font-size: 48px;
	text-align: center;
}
#portfolio p {
	margin-top: 3px;
	font-size: 28px;
	text-align: center;
}
/* Quote */
#quote {
	padding: 105px 95px;
	height: 272px;
	background-image: url(../images/quote.jpg);
}
#quote-wrapper {
	margin: 0 auto;
	padding-left: 70px;
	padding-right: 70px;
	width: 940px;
}
#quote-text {
	display: inline-block;
	margin-left: 115px;
	font-size: 28px;
	text-align: center;
}
.kavichka-1 {
	margin-left: 60px;
	width: 27px;
	height: 21px;
	background-image: url(../images/pizda.png);
}
.kavichka-2 {
	float: right;
	margin-top: 47px;
	margin-right: 126px;
	width: 27px;
	height: 21px;
	background-image: url(../images/pizda2.png);
}
#author {
	float: right;
	margin-top: 39px;
	margin-right: -8px;
	font-size: 24px;
	text-align: right;
	
}
             
/* News */
#news {
	padding: 76px;
	font-family: 'Open Sans', sans-serif;
	background-color: #cdcdcd;
}
#news h2 {
	margin-bottom: 75px;
	padding: 0;
	font-size: 48px;
	font-family: BebasNeue;
	text-align: center;
	color: #252222;
	line-height: 0.85;
}
#news-left, #news-right {
	max-width: 462px;
	border: 1px solid red;
}
#news-left {
	display: inline-block;
	float: left;
}
#date {
	margin-bottom: 24px;
}
#news-left #date {
	display: inline-block;
	margin-left: 3px;
	margin-right: 185px;
	padding: 6px 0 3px 21px;
	width: 140px;
	height: 21px;
	background-color: #59a386;
	color: #fff;
	font-size: 11px;

}
#img-tag {
	display: inline-block;
	margin-top: 5px;
	width: 16px;
	height: 13px;
	background-image: url(../images/tag.png) ;
}
#tag-left {
	float: right;
	margin: 6px 5px 0 0;
	font-size: 12px;
	font-style: italic;
	font-weight: 700;
	color: #e74c3c;
}
#first-p {
	margin-bottom: 11px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #59a386;
}
#big-img {
	margin-bottom: 18px;
	padding: 59px 0;
	width: 100%;
	height: 201px;
	background-color: #676767;
	border-radius: 3px;
}
#big-img #img {
	width: 83px;
	height: 83px;
	margin: 0 auto;
	background-image: url(../images/big-foto.gif);
}
#second-p{
	margin-bottom: 12px;
	font-size: 14px;
	color: #818282;
	line-height: 20.80px;
}
#news-left a {
	float: left;
	margin-left:348px;
	text-decoration: none;
	font-size: 14px;
	color: #e2534b;
	line-height: 0.97;
}
.arrow {
	display: inline-block;
	float: right;
	margin-right: 22px;
	width: 12px;
	height: 13px;
	background-image: url(../images/arrow.png);
}
/* */
#news-right {
	float: right;
}
#p-tags {
	margin-top: 8px;
	margin-bottom: 25px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 18px;
	color: #59a386;
}






